{% extends 'base.html.twig' %}

{% block body %}

<section class="row">
    <h1 class="title">Welcome to DevBlog!</h1>
    
</section>
<section class="row">
    
       
        <div class="card mt-5 mx-2" style="width: 50%">
        <div class="card-header">
            <h5 class="card-title">{{post.title}}</h5>
        </div>
        <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">{{post.user}}</h6>
            <img src="{{vich_uploader_asset(post)}}" class=" w-50" alt="...">
            <p class="card-text">{{post.content |raw}}</p>
            <p><small>{{post.createdAt | date('d/m/Y H:i')}}</small></p>
        </div>
</div>
    

</section>
<section class="row">
        <div class="col-4">
                {{form(form)}}
        </div>
        <div class="col-4">
            {% for comment in post.comments %}
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">
                            {{comment.user}} 
                            {% if  comment.rate == true %} 
                            <i class="fas fa-heart"></i> 
                            {% else %} 
                            <i class="fas fa-heart-broken"></i> 
                            {% endif %}
                        </div>
                        <p>{{comment.content}}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
</section>
<a href="{{path('app_home')}}" class="card-link btn btn-info mt-5">Retour à l'accueil</a>

{% endblock %}
